.P1{
    height: 700px;
    width: 100%;
    background-color: white;
}
.hebergement{
    display: flex;
    width: 1440px;
    height: 679px;
    justify-content: space-around;
    align-items: center;
    background-color: thistle;
}
.logement{
    display: flex;
    width: 882px;
    height: 629px;
    background-color:#F2F2F2;
    border-radius: 25px;
    position: relative;
}
.box-log{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    justify-content: space-around;

}
.h2-log{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 30px;
}
.p-log{
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin-left: 30px ;
    font-weight: bold;
}
.log-img{
    width: 246px;
    height: 114px;
    border-radius: 25px 25px 0px 0px;
    
}
.log-ref{
    height: 201px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    color: black;
}



.box-pop{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    justify-content: space-around;

}
.populaire{
    display: flex;
    justify-content: space-around;
    width: 413px;
    height: 632px;
    background-color: #F2F2F2;
    position: relative;
    border-radius: 25px;
}  
.h-populaire{
    display: flex;
    width: 413px;
    margin-top: 20px;
     
    background-color: blue;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}
.fas{
    font-size: 25px;
    color: black;
}
h3{
    font-size: 17px;
    margin-left: 10px;
}
.p-image1{
    font-size: 13px;
    margin-left: 10px;
}
.pop-img{
    width: 127px;
    height: 134px;
    border-radius: 25px 0px 0px 25px;
    
}
.pop-ref{
    display: flex;
    height: 134px;
    width: 343px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.desc-pop{
    margin-left: 10px;
}