                                    /*--bleu foncé:     #0065FC     #5095fd
                                        bleu claire:    #DEEBFF     #609ffd
                                        gris:           #F2F2F2     #a0a0a0 --*/
                    /*--header--*/
body{
    width: 1440px;
    margin: 0 auto;
    font-family: 'raleway';
}
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: white;
}
.l-container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 95px;
    height: 31px;
    margin: 53px 0 0 53px;
}
.menu{
    font-weight:400;
    height: 30px;
    margin-top: 50px;
}
a{
    text-decoration: none;
    
}
.menu-item-1{
    color: #609ffd;
    padding-left: 37px;
}
.menu-item-2{
    color: black;
    padding-left: 37px;
    
}
.menu-item-3{
    color: #0065FC;
    padding-left: 37px;
}
.header-baseline{
    display: flex;
    flex-direction: column;;
    margin-top: 51px;
    margin-left: 53px;
}
.header-baseline-1{
    font-weight: bold;
}
.header-baseline-2{
    font-weight: 200;
}
.recherche{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 23px;
    margin-left: 53px;
}
.ou{
    display: flex;
    justify-content: center;
    border: 0px solid;
    width: 50px;
    border-radius: 20px 0px 0px 20px;
    background-color: #F2F2F2 ;
}
#recherche{
    height: 49px;
    width: 235px;
    border: 1px solid #F2F2F2;
}
.btn-recherche{
    height: 50px;
    width: 134px;
    color: white;
    border-radius: 0px 20px 20px 0px ;
    background-color: #0065FC;
    border: 0;
}
.btn-recherche:hover{
    color: #0065FC;
    background-color:#F2F2F2;
}
.filtre{
    display: flex;
    margin-left: 53px;
    align-items: center;
    align-content: flex-end;
    width: 930px;
    height: 45px;
    justify-content: space-between;
    margin-top: 31px;
    font-size: 17px;
    font-weight: bold;
}

.eco{
    display: flex;
    height: 45px;
    width: 193px;
    background-color:white;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
    position: relative;
}
.familial{
    display: flex;
    height: 45px;
    width: 151px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
    position: relative;
}
.romantique{
    display: flex;
    height: 45px;
    width: 183px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
    position: relative;
}
.animaux{
    display: flex;
    height: 45px;
    width: 241px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
    position: relative;
}
.btn-filtre{
    background-color:white;
    border-radius: 25px;
    border: 0px;
    font-size: 18px;
    height: 45px;
    position: absolute;
    right: 20px;
}   
.img-btn{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -3px;
}
.f-icon{
    display: flex;
    color: #0065FC;
    align-items: center;
    align-content: center;
}

.info{
    display: flex;
    margin-left: 53px;
    margin-top: 20px;
    width: 442px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.info-logo{
    display: flex;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    border: 3px solid #F2F2F2;
    justify-content: center;
    align-items: center;
}


                        /*--section--*/

.P1{
    height: 700px;
    width: 100%;
    background-color: white;
}
.hebergement{
    display: flex;
    width: 1440px;
    height: 679px;
    justify-content: space-around;
    align-items: center;
}

    /*--logement--*/
.logement{
    display: flex;
    width: 882px;
    height: 629px;
    background-color:#F2F2F2;
    border-radius: 25px;
    position: relative;
}
.box-log{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    justify-content: space-around;
}
.h2-log{
    position: absolute;
    top: 20px;
    left: 0px;
    padding-left: 30px;
}
.p-log{
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin-left: 30px ;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
.log-ref{
    height: 201px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
    
}
.log-img{
    width: 246px;
    height: 114px;
    border-radius: 25px 25px 0px 0px;        
}
.desc-photo{
    display: flex;
    flex-direction: column;
    height: 81px;
    justify-content: space-around;
}
h3{
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 1px; 
}
.p-image1{
    font-size: 13px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}
.star{
    margin-left: 10px;
    margin-top: 0;
}
.star-pop{
    margin-left: 10px;
    margin-bottom: -10px;
}
.desc-photo-pop{
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-around;
}
.p-image-pop{
    margin-left: 10px;
    margin-top: -20px;
}
.fa-star{
    font-size: 10px;
    color: #0065FC;
}

    /*--Populaire--*/
.populaire{
    display: flex;
    justify-content: space-around;
    width: 413px;
    height: 629px;
    background-color: #F2F2F2;
    position: relative;
    border-radius: 25px;
}  
.box-pop{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    justify-content: space-around;

}
.h-populaire{
    display: flex;
    width: 413px;
    margin-top: 20px;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}
.fa-chart-line{
    font-size: 25px;
    color: black;
}
.h3{
    font-size: 17px;
    margin-left: 10px;
}
.p-image1{
    font-size: 13px;
    margin-left: 10px;
}
.pop-img{
    width: 127px;
    height: 134px;
    border-radius: 25px 0px 0px 25px;
    
}
.pop-ref{
    display: flex;
    height: 134px;
    width: 343px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.desc-pop{
    margin-left: 10px;
}

                        /*-- activiter--*/
.P2{
    width: 100%;
    height: 600px;
    background-color: white;
    
}
.activites{
    width: 1440px;
    height: 555px;
    background-color: white;
}
.section-title{
    margin-left: 53px;
}
.box-activites{
    width: 100%;
    height: 475px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.img-col1{
    display: flex;
    align-content: center;
}
.img-col2{
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-col3{
    display: flex;
    align-content: center;
}
.img-col4{
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-col1-photo1{
    width: 303px;
    height: 389px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-photo2{
    width: 303px;
    height: 182px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-photo3{
    width: 303px;
    height: 109px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-photo4{
    width: 303px;
    height: 389px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-photo5{
    width: 303px;
    height: 139px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-photo6{
    width: 303px;
    height: 153px;
    border-radius: 25px 25px 0px 0px;
}
.img-col1-ref-photo1{
    height: 446px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.img-col1-ref-photo2{
    height: 241px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.img-col1-ref-photo3{
    height: 165px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.img-col1-ref-photo4{
    height: 446px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.img-col1-ref-photo5{
    height: 195px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.img-col1-ref-photo6{
    height: 209px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.title-activites{
    margin-left: 17px;
    margin-top: 17px;
}


                    /*--footer--*/
footer{
    height: 215px;
    background-color: #F2F2F2;
    display: flex;
    align-content: center;
    align-items: center;
    
}
.ref-puce{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    
}
.deco-puce{
    list-style-type: none;
    padding-right: 200px;
}
.li-puce{
    margin-bottom: 10px;
}
